services:
  api:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/data:/app/data
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.eventhorizon-api.entrypoints=websecure
      - traefik.http.routers.eventhorizon-api.rule=Host(`api.event-horizon.sp23.online`)
      - traefik.http.routers.eventhorizon-api.tls=true
      - traefik.http.services.eventhorizon-api.loadbalancer.server.port=8000
      - traefik.http.routers.eventhorizon-api.certresolver=le

  web:
    build:
      context: ./frontend
      args:
        VITE_API_URL: https://event-horizon-api.sp23.online/api
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.eventhorizon-web.entrypoints=websecure
      - traefik.http.routers.eventhorizon-web.rule=Host(`event-horizon.sp23.online`)
      - traefik.http.routers.eventhorizon-web.tls=true
      - traefik.http.routers.eventhorizon-web.certresolver=le
      - traefik.http.services.eventhorizon-web.loadbalancer.server.port=80

networks:
  traefik:
    external: true
